﻿@* Member Detail page that the member can view*@

@model IPGMMS.ViewModels.MemberIdentityInfoViewModel


<!-- Success message displayed when new user has successfully applied for IPG account or current member successfully linked account -->
@if (ViewBag.Success)
{
    <div class="row">
        <div id="successMessage" class="alert alert-success" style="margin-top: 1em"><center><span>@ViewBag.SuccessMessage</span></center></div>
    </div>
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="w3-row">

    @if (Model.MemberInfo != null)
    {

        <div class="w3-col m4">
            <div class="w3-card-2 w3-round w3-light-gray">
                <div class="w3-container">

                    <h2>Details for @User.Identity.Name</h2>
                    <hr>
                    <p class="w3-center">
                        <img src="~/Content/Images/avatar_a4be82c62409_128.png" class="w3-circle" alt="Spanish_Inquisition" />
                    </p>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.MemberInfo.FullName)</dt>
                        <dd>@Html.DisplayFor(model => model.MemberInfo.FullName)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MemberInfo.Membership_Number)</dt>
                        <dd>@Html.DisplayFor(model => model.MemberInfo.Membership_Number)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MemberInfo.MemberLevel1.MLevel)</dt>
                        <dd>@Html.DisplayFor(model => model.MemberInfo.MemberLevel1.MLevel)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MemberInfo.Membership_SignupDate)</dt>
                        <dd>@Html.DisplayFor(model => model.MemberInfo.Membership_SignupDate)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MemberInfo.Membership_ExpirationDate)</dt>
                        <dd>@Html.DisplayFor(model => model.MemberInfo.Membership_ExpirationDate)</dd>
                    </dl>
                    <br />
                    <button class="w3-btn w3-round w3-ripple w3-small editButton" onclick="location.href=  '@Url.Action("UpdateMyInfo",new { memID = Model.MemberInfo.ID })'"><i class="fa fa-vcard"></i> Update Info  <a href="#" data-toggle="tooltip" title="Update your information, such as Business Name and Website."><i class="fa fa-info-circle" aria-hidden="true"></i></a></button>
                    <br />
                    <br />
                    @if (Model.IdentityInfo.HasPassword)
                    {
                        <button class="w3-btn w3-round w3-ripple w3-small editButton" onclick="location.href=  '@Url.Action("ChangePassword")'"><i class="fa fa-unlock-alt"></i> Change Password  <a href="#" data-toggle="tooltip" title="Private info only available to IPG. Please see our privacy aggreement for more details."><i class="fa fa-info-circle" aria-hidden="true"></i></a></button>

                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    <br /><br />
                </div>
            </div>
            <div class="w3-card-2 w3-round w3-blue w3-margin w3-hover-light-blue" onclick="location.href= '@Url.Action("Details","Member", new { ID = Model.MemberInfo.ID })'">
                <div class="w3-container w3-center">
                    View My Profile
                </div>
            </div>
        </div>
        <div class="w3-col m8">
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card-2 w3-round w3-gray">
                        <div class="w3-container w3-padding">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.MemberInfo.BusinessName)</dt>
                                <dd>@Html.DisplayFor(model => model.MemberInfo.BusinessName) </dd>
                                <dt>@Html.DisplayNameFor(model => model.MemberInfo.Website)</dt>
                                <dd>@Html.DisplayFor(model => model.MemberInfo.Website)</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="w3-row-padding">
                <div class="w3-card-2 w3-round w3-light-grey w3-container w3-margin">
                    <button class="w3-btn w3-block w3-small editButton" onclick="location.href=  '@Url.Action("UpdateContact", new { mail = Model.MailingInfo.ID })'"><i class="fa fa-pencil fa-lg"></i>  Private Contact Information  <a href="#" data-toggle="tooltip" title="Private info only available to IPG. Please see our privacy aggreement for more details."><i class="fa fa-info-circle" aria-hidden="true"></i></a></button>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.MailingInfo.Email)</dt>
                        <dd>@Html.DisplayFor(model => model.MailingInfo.Email)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MailingInfo.PhoneNumber)</dt>
                        <dd>@Html.DisplayFor(model => model.MailingInfo.PhoneNumber)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MailingInfo.StreetAddress)</dt>
                        <dd>@Html.DisplayFor(model => model.MailingInfo.StreetAddress)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MailingInfo.City)</dt>
                        <dd>@Html.DisplayFor(model => model.MailingInfo.City)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MailingInfo.StateName)</dt>
                        <dd>@Html.DisplayFor(model => model.MailingInfo.StateName)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MailingInfo.Country)</dt>
                        <dd>@Html.DisplayFor(model => model.MailingInfo.Country)</dd>
                        <dt>@Html.DisplayNameFor(model => model.MailingInfo.PostalCode)</dt>
                        <dd>@Html.DisplayFor(model => model.MailingInfo.PostalCode)</dd>
                    </dl>
                </div>
            </div>

            <div class="w3-row-padding">
                <div class="w3-card-2 w3-round w3-light-gray w3-container w3-margin">
                    <button class="w3-btn w3-block w3-small editButton" onclick="location.href=  '@Url.Action("UpdateContact", new { mail = Model.ListingInfo.ID })'"><i class="fa fa-pencil fa-lg"></i>  Public Contact Information  <a href="#" data-toggle="tooltip" title="Public info displayed on your profile for potential clients to be able to find you."><i class="fa fa-info-circle" aria-hidden="true"></i></a></button>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.ListingInfo.Email)</dt>
                        <dd>@Html.DisplayFor(model => model.ListingInfo.Email)&nbsp</dd>
                        <dt>@Html.DisplayNameFor(model => model.ListingInfo.PhoneNumber)</dt>
                        <dd>@Html.DisplayFor(model => model.ListingInfo.PhoneNumber)&nbsp</dd>
                        <dt>@Html.DisplayNameFor(model => model.ListingInfo.StreetAddress)</dt>
                        <dd>@Html.DisplayFor(model => model.ListingInfo.StreetAddress)&nbsp</dd>
                        <dt>@Html.DisplayNameFor(model => model.ListingInfo.City)</dt>
                        <dd>@Html.DisplayFor(model => model.ListingInfo.City)&nbsp</dd>
                        <dt>@Html.DisplayNameFor(model => model.ListingInfo.StateName)</dt>
                        <dd>@Html.DisplayFor(model => model.ListingInfo.StateName)&nbsp</dd>
                        <dt>@Html.DisplayNameFor(model => model.ListingInfo.Country)</dt>
                        <dd>@Html.DisplayFor(model => model.ListingInfo.Country)&nbsp</dd>
                        <dt>@Html.DisplayNameFor(model => model.ListingInfo.PostalCode)</dt>
                        <dd>@Html.DisplayFor(model => model.ListingInfo.PostalCode)&nbsp</dd>
                    </dl>
                </div>
            </div>

        </div>



    }
    else
    {
        <div class="row">
            <h2>Welcome @User.Identity.Name!</h2>
             <hr />
            <h4>
                Link your IPG account<a href="#" data-toggle="tooltip" title="If you don't know your IPG number, contact an IPG administrator to have it sent to you.">
                <i class="fa fa-info-circle" aria-hidden="true"></i></a> or start the application process to become an IPG member.
            </h4>
            @if (ViewBag.ErrorCode != 0)
            {
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            }
            <div class="panel-group col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a class="btn btn-default" data-toggle="collapse" href="#memberLookUp">Link IPG Account</a>
                        @Html.ActionLink("Start IPG Application", "Apply", "Member", null, new { @class = "btn btn-default" })
                    </div>
                    <div id="memberLookUp" class="panel-collapse collapse">
                        <div class="panel-body">
                            @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Enter IPG Membership Number</h4>
                                <hr />
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="membNum">IPG #</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="membNum" maxlength="10" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Link Account" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
               
            </div>
        </div>
    }
    </div>              

            @section scripts {
                @Scripts.Render("~/bundles/jqueryval")
                <script type="text/javascript" src="~/Scripts/manage.js"></script>
                <link href="@Url.Content("~/Content/ManageDetails.css")" rel="stylesheet" />
            }
