﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IPGMMS</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/ipgLogoFavicon.ico" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/w3.css")
    @Styles.Render("~/Content/SharedLayout.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="w3-content" style="max-width:100%">

    <!-- Sidebar (hidden by default) -->
    <nav class="w3-sidebar w3-bar-block w3-card-2 w3-top w3-xlarge w3-animate-left w3-light-gray" style="display:none;z-index:2;width:40%;max-width:300px" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-close"></i></a>
        <div class="w3-padding-12"><a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/IPGLogo2.png" /></a></div>
        <a href="@Url.Action("Index","Map")" onclick="w3_close()" class="w3-bar-item w3-button">IPG Member Search</a>
        <a href="@Url.Action("Index","Member")" onclick="w3_close()" class="w3-bar-item w3-button">View All Members</a>

    </nav>

    <!-- Top menu -->
    <div class="w3-top w3-light-gray w3-padding-right">
        <div class="w3-xlarge" style="max-width:100%; margin:auto">
            <div class="w3-button w3-left" onclick="w3_open()"><i class="fa fa-bars w3-xxlarge"></i></div>
            <div class="w3-right">@Html.Partial("_LoginPartial")</div>
            <div class="w3-left"><h4 class="w3-hide-small"><a href="@Url.Action("Index", "Home")">International Professional Groomers, Inc.</a></h4></div>
        </div>
    </div>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-dark-grey">
        <div class="w3-row-padding">
            <div class="w3-half w3-padding-left">
                <h3><a href="@Url.Action("Index","Home")">Home</a></h3>
                <h3><a href="@Url.Action("About","Home")">About IPG</a></h3>
                <h3><a href="@Url.Action("FAQ", "Home")">FAQ</a></h3>
                <h3><a href="@Url.Action("Contact", "Home")">Contact IPG</a></h3> 
                <h3><a href="@Url.Action("StarTechCredits","Home")">StarTech Credits</a></h3>              
            </div>
            <div class="w3-half w3-padding-right w3-padding-left">
                <a href="@Url.Action("Underconstruction","Home")"><h3>IPG Certification Tracks</h3></a>
                <a href="@Url.Action("Underconstruction","Home")"><h3>IPG Events</h3></a>
                <a href="@Url.Action("Underconstruction","Home")"><h3>IPG Products</h3></a>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube"></i>    
            </div>
        </div>
    </footer>



    <!-- END PAGE CONTENT -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/SharedLayout.js")
    @RenderSection("scripts", required: false)

</body>

</html>
